.terrain-builder_toolbar
{
	display: flex;
	flex: 1;
	width: auto;
	border-width: 1px;
	border-color: #aa0000;
	flex-direction: row;
	padding: 10px;
}

.terrain-builder_create-terrain-button
{
    width: 200px;
}

.terrain-builder_continuous-update-enumfield
{
	width: 300px;
}

.terrain-builder_warning-label
{
	color: #ff0000;
	width: auto; 
	flex: 1;
	-unity-font-style: bold;
	-unity-text-align: middle-right;
}